<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com" package="com.injetor">
    <queries><package android:name="com.dts.freefireth" /></queries>
    <application 
        android:label="Sabor Xit VIP" 
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
